@model int
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center">
                Order Placed Successfully!
            </h1>
            Your Order Number is:@Model <br /> <br>
            <img src="~/images/8b591cc9868972e2420621ff30aa7b20.jpg" width="250px" />
        </div>
        <div class="col-12 text-center">
            <br />
            Your order has been placed successfully!! <br />
        </div>
    </div>
</div>