<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-info form-control">
            Create
        </button>
    </div>
    <div class="col-8">
        <a asp-action="Index"class="btn btn-primary">
            <i class="fa fa-arrow-left"></i> Back to Index
        </a>
    </div>
</div>