<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-info form-control">
            Edit
        </button>
    </div>
    <div class="col-8">
        <a asp-action="Index" class="btn btn-primary">
            Back To Index
        </a>
    </div>
</div>