<div class=" container row">
    <div class="col-8 pt-3">
        <h2 class="text-primary">Company List</h2>
    </div>
    <div class="col-4 pt-3 text-end">
        <a asp-action="Upsert" class="btn btn-info">
            <i class="fas fa-plus"></i>&nbsp; New Company
        </a>
    </div>
    <hr />
    <div class="border col-12 p-2 m-2">
        <table id="tbldata" class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/js/Company.js"></script>
}